@tailwind base;
@tailwind components;
@tailwind utilities;

.rti--tag {
  background-color: #2a303c;
}

.--rti-bg {
  background-color: #131c2e;
}
.rti--input {
  background: none;
}

/* Transition */
* {
  transition: all 0.3s ease-in-out;
}

iframe {
  max-width: 100%;
}

* button,
* input,
* a,
* p {
  z-index: 2;
}

* ul,
* li {
  z-index: 999;
}

.tox-notifications-container {
  display: none !important;
}
